<div id="job_listing_wrapper">
	<div id="job_listings">
		
		<a class="job" href="">
			<h3 class="link_blue"><%= @job.title %></h3>
			<p class="location">Burlington Coat Factory - Worcestor, Ma</p>
			<p><span class="date"><%= @job.post_date %></span> - ...<%= @job.description %> ...<span class="link_blue">more &raquo;</span></p>
		</a>
	</div>
</div>
