<!--
<p><span>Job title</span> <%= @job.title %></p>
<p><span>Job description</span> <%= @job.description %></p>
-->
<%= render 'job_module' %>

<script type="text/javascript">
	var submit = document.querySelector('.job');
	
	console.log(submit);

</script>