<ul id="search_filters">
	<li><h2>Days Back</h2>
		<ul>
			<li><a href="#">3 Days</a></li>
			<li><a href="#">7 Days</a></li>
			<li><a href="#">14 Days</a></li>
			<li><a href="#">30 Days</a></li>
			<li><a href="#">60 Days</a></li>
		</ul>
	</li>
	<li><h2>Search Radius</h2>
		<ul>
			<li><a href="#">5 Miles</a></li>
			<li><a href="#">10 Miles</a></li>
			<li><a href="#">25 Miles</a></li>
			<li><a href="#">25+ Miles</a></li>
		</ul>
	</li>
	<li><h2>Popular Searches</h2>
		<ul>
			<li><a href="#">Medical - see new jobs &raquo;</a></li>
			<li><a href="#">Healthcare - see new jobs &raquo;</a></li>
			<li><a href="#">Driver - see new jobs &raquo;</a></li>
			<li><a href="#">Sales - see new jobs &raquo;</a></li>
			<li><a href="#">Administrative - see new jobs &raquo;</a></li>
			<li><a href="#">Financial - see new jobs &raquo;</a></li>
		</ul>
	</li>
</ul>
<div id="job_listing_wrapper">
	<div class="order_by_filters">
		<b>Job-Street Search Results</b>
		<span>
			Order by
			<select>
				<option>Date</option>
				<option>Relevance</option>
			</select>
		</span>
	</div>
	<div id="job_listings">
		<h2>Found 18,093 Jobs in Worcester, Ma</h2>
		<!-- ad to go here -->
		<a class="job" href="">
			<h3 class="link_blue">Cashier</h3>
			<p class="location">Burlington Coat Factory - Worcestor, Ma</p>
			<p><span class="date">June 08, 2013</span> - ...Our ideal candiates will be self motivated, team players, who have the desire to succeed. We care about or employees, have a ...<span class="link_blue">more &raquo;</span></p>
		</a>
		<a class="job" href="">
			<h3 class="link_blue">Cashier</h3>
			<p class="location">Burlington Coat Factory - Worcestor, Ma</p>
			<p><span class="date">June 08, 2013</span> - ...Our ideal candiates will be self motivated, team players, who have the desire to succeed. We care about or employees, have a ...<span class="link_blue">more &raquo;</span></p>
		</a>
	</div>
</div>
<div id="promotions">
	<div class="promo_wrapper">
		<div class="promo_content">
			
		<ul>
			<li><a href="#">Medical</a></li>
			<li><a href="#">Healthcare</a></li>
			<li><a href="#">Driver</a></li>
			<li><a href="#">Sales</a></li>
			<li><a href="#">Administrative</a></li>
			<li><a href="#">Financial</a></li>
		</ul>
		</div>
	</div>
	
</div>