<h1>Resumes</h1>
<%= debug(@resume) %>
<%=	debug(@job) %>

<p><%= @resume.name %></p>

<% if @job.count > 0 %>

	<% @job.each do |job| %>
		
		<%= render 'jobs/job_module' %>
	<% end %>



<% else %>

	<p>Add a job</p>

<% end %>