		<div id="navigation">
			<div id="logo"><%= image_tag("logo-jobstreet-3.png", :alt => "") %></div>
			<p id="sign_up"><%= link_to 'login | register', controller: "login" %></p>
			<div class="controls">
				<label for="keywords">Keywords <span>job title, skills, or company</span></label>
				<input type="text" name="keywords">
			</div>
			<div class="controls">
				<label for="keywords">Location <span>city, state, or zip code</span></label>
				<input type="text" name="keywords">
			</div>
			
			<p class="find_job"><%= image_tag("search.png", :alt => "") %>Find Jobs</p>
		</div>
